body{
    background-image: url(../images/sunset.png);
    background-size: cover;
}

main{
    margin: 5%;
}

.w3-tab{
    border:1px solid black;
}

.textdisplay{
    margin-left: 20%;
    border:2px dotted black;
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 2rem;
}


@media (max-width:600px) {
    .display{
        margin-left: 1rem;
        width: 50%;
    }
}
